@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style:none ;

}

html {
    scroll-behavior: smooth; /* Hace que el movimiento sea elegante */
    scroll-padding-top: 80px; /* Evita que la barra tape el título de la sección al llegar */
}

body {
  font-family: "poppins", sans-serif;

}
.container {
max-width: 1200px;
margin: 0 auto;
}
.header {
   padding-top: 80px;
   display: flex;
   align-items: center;
   min-height: 70vh;
   position: relative;
}






/* Estado inicial del menú (transparente) */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    padding: 20px 50px;
    background-color: transparent; /* Empieza transparente */
    transition: background-color 0.4s ease, padding 0.4s ease; /* Transición suave */
}

/* Esta clase se activará con JavaScript al bajar el scroll */
.menu.active {
    background-color: #ff9000; /* Naranja de tu marca */
    padding: 10px 50px; /* Se hace un poco más delgada al bajar */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* Cambiar el color de los links a blanco cuando el menú esté activo */
.menu.active .navbar ul li a {
    color: #ffffff;
}
.menu.active .logo {
    color: #ffffff;
}
  


 
.limon{
   position: absolute;
   width: 50px;
   height: 50px;
   top: 0;
   left: 0;
   z-index: -1;
}
.logo {
   font-size: 25px;
   color: #ff9000;
   
   font-weight: 800;
}
.menu .navbar ul li{
   position: relative;
   float: left;
}
.menu .navbar ul li a {
   font-size: 20px;
   padding: 20px;
   font-weight: 600;
   color: #1d1d1b;
   display: block;
  
}
.menu .navbar ul li a:hover {
   color: #f4a341;
}
#menu {
   display: none;
}
.menu-icono {
   width: 25px;
}
.menu label {
   cursor: pointer;
   display: none;
}
.submenu {
   position: relative;
}
.submenu #carrito {
   display: none;
}
.submenu:hover #carrito {
   display: block;
   position: absolute;
   right: 0;
   backdrop-filter: blur(10px);
   top: 100%;
   z-index: 1;
   background-color: #77777797;
   padding: 20px;
   min-width: 400px;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

table {
   width: 100%;
}

th, td {
   color: #ffffff;
}
.borrar {
   background-color: #ff9000;
   border-radius: 50%;
   padding: 5px 10px;
   text-decoration: none;
   color: #ffffff;
   font-weight: 800;
}

.bg {
   position: absolute;
   width: 500px;
   top: 0;
   right: 0;
   z-index: -1;
}
.header-content{
   display: flex;
   align-items: center;

}

.header-txt {
   width: 50%;
   margin-right: 50px;
}

.header-txt h1 {
font-size: 45px;
padding-top: 80px;
line-height: 65px;
color: #1d1d1b;
margin-bottom: 35px;
}
.header-txt p {
   font-size: 20px;
   color: #5e5e5e;
   margin-bottom: 45px;
}
.header-txt span {
   color: #ffae00;
}
.btn-1{
   display: inline-block;
   padding: 13px 45px;
   border-radius: 25px;
   background-color: #ef8700;
   font-size: 18px;
   color: #ffffff;
   text-transform: capitalize;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.btn-1:hover {
   background-color: #ffae00;
}
.header-img {
   width: 50%;
   text-align: right;
}
.header-img img {
   width: 600px;
}
/* Cuando el menú NO es naranja (estado inicial), el icono se queda normal */
#img-carrito {
    transition: filter 0.4s ease; /* Para que el cambio de color sea suave */
}

/* Cuando el menú tiene la clase .active (es naranja), convertimos el icono a blanco */
.menu.active #img-carrito {
    filter: brightness(0) invert(1); 
    /* brightness(0) lo hace negro, invert(1) lo vuelve blanco puro */
}








.breakfast {
   padding: 50px 0;
   
}
h2{
   font-size: 45px;
   line-height: 55px;
   color: #1d1d1b;
   margin-bottom: 15px;
}
 
p {
   font-size: 20px;
   color: #5e5e5e;
   margin-bottom:45px;
}

.breakfast-content {
   display: flex;
   justify-content: space-between;
}

.breakfast-1 {
   display: flex;
   align-items: center;
   background-color: #ff9000;
   padding: 10px;
   border-radius: 15px;
   width: 200px;
   box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
.breakfast-1 h3 {
   font-size: 16px;
   color: #ffffff;
   font-weight: 600;
}

.breakfast-1 img {
   width: 50px;
   margin-right: 25px;

}

.info {
padding: 100px 0;
position: relative;
}

.bg-2{
   position: absolute;
   width: 300px;
   z-index: -1;
   top: 50px;
}
.info-content{
   display: flex;
   align-items: center;
}
.info-img {
   width: 50%;
   text-align: left;
}
.info-img img {
   width: 450px;
   margin-left: -50px;
}
.info-txt {
   width: 50%;
}
.products{
   padding: 0 0 10px 0;
   text-align: center;
   margin-bottom: 0px;
   
}

.box-container{
   margin-top: 55px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
   gap: 20px;
}
.box{
   border-top: 2px solid #ff9000;
   padding: 25px;
   border-radius: 15px;
   z-index: 1000;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
   display: none;
   animation: fadeIn 0.5s;
   



}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3),
.box:nth-child(4){
   display: inline-block;
}
.box img {
   width: 120px;
}
.box img {
    width: 100%;       /* Ocupa el ancho de la caja */
    height: 200px;     /* Forzamos una altura igual para todas */
    object-fit: cover; /* Recorta la imagen para que rellene el espacio sin deformarse */
    border-radius: 50px;
}


.products-txt h3 {
   font-size: 20px;
   color: #1d1d1b;
   margin-bottom: 10px;
}

.products-txt p {
   margin-bottom: 25px;
}
.precio {
   font-size: 15px;
   color: #ff9000;
}
.btn-2{
   background-color: #ff9000;
   margin-top: 50px;
   display: inline-block;
   padding: 13px 35px;
   border-radius: 25px;
   color: #ffffff ;
   font-size: 16px;
   cursor: pointer;
   box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.btn-2:hover {
   background-color:#ffae00;
}
.btn-3 {
   display: inline-block;
   padding: 5px 25px;
   background-color: #ff9000;
   color: #ffffff;
   border-radius: 10px;
   
}
.btn-3:hover{
   background-color:#ffae00;
}
.app {
   margin-top: 0px;
   display: flex;
   align-items: center;
   
}
.app-txt {
   width: 50%;
}
.descarga{
   display: flex;

   
}
.descarga img {
   width: 150px;
}

.app-img {
   width: 50%;
   text-align: center;

}
.app-img img {
   width: 450px;
}
.footer {
   padding: 50px 0;
   background-color: #ff9000;
}
.footer-content{
   display: flex;
   justify-content: space-between;
}
.link h3{
   font-size: 20px;
   margin-bottom: 15px;
   color: #ffffff;
}

.link a{
   color: #ffffff;
   font-size: 18px;
   display: block;
   margin-bottom: 10px;
}

@media (max-width:991px){
   .menu{
      padding: 20px;

   }
   .menu label{
      display: initial;
      
   }
   
   .menu .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: #ff9000; 
      display: none;
       
   }
   .menu .navbar ul li {
      width: 100%;
   }
   .menu .navbar ul li a:hover {
      color: #ffffff;
   }
   .logo {
      display: none;
   }
   #menu:checked ~ .navbar {
      display: initial;
      
   }
   .submenu:hover #carrito{
      width: 100%;
   
   }
   .submenu img {
      cursor: pointer;
   }
   .bg {
      display: none;
   }
   .header-content{
      padding: 50px 30px 30px 30px;
      flex-direction: column;
   }
   .header-txt{
      text-align: center;
      width: 100%;
      margin: 0 0 25px 0;
   }
   .header-txt h1{
      font-size: 45px;
      line-height: 55px;
      margin-bottom: 20px;
   }
   .header-txt p{
      margin-bottom: 20px;
   }
   .header-img{
      width: 100%;
      text-align: center;
   }
   .header-img img{
      width: 300px;
   }
   .breakfast{
      padding: 10px;
   }
   .breakfast-content{
      flex-direction: column;
      align-items: center;
   }
   .breakfast-1{
      justify-content: space-between;
      padding: 10px 55px;
      width: 100%;
      margin-bottom: 25px;
   }
   .info {
      padding: 30px;
   }
   .bg-2{
      display: none;
   }
   .info-content{
      flex-direction: column;
   }
   .info-img{
      width: 100%;
      text-align: center;
   }
   .info-img img{
      width: 250px;
      margin-left: 0;
   }
   .info-txt{
      width: 100%;
      text-align: center;
   }
   .products{
      padding: 30px;
   }
   .box-container{
      margin-top: 25px;
   }

   .app{
      flex-direction: column;
      padding: 30px;
   }
   .app-txt{
      width: 100%;
      text-align: center;
   }
   .descarga{
      flex-direction: column;
      align-items: center;
   }
   .app-img{
      width: 100%;
      align-items: center;
   }
   .app-img img{
      width: 300px;

   }
   .footer{
      padding: 30px;
   }
   .footer-content{
      flex-direction: column;
      align-items: center;
      text-align: center;
   }


}